
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    
    <div id="contenedor" class="row">
        <div id="cajas" class="col l3 s12">
            <h1>Inicio</h1>
            <div id="caja1" class="iconos">
                <a href="@Url.Action("Index", "Usuarios")"><i class="large material-icons">account_circle</i></a>
                    <h2>Clientes</h2>
</div>
            <div id="caja2" class="iconos">
                <a href="@Url.Action("Index", "Conductors")"><i class="large material-icons">directions_car</i></a>
                    <h2>Conductores</h2>
</div>
        </div>
        </div>
</body>
</html>
